*{
  box-sizing:border-box;
}
.box {
  padding: 0 5px 10px 5px;
}
#null {
  background-color: black;
}
.caption {
  text-align: center;
}
#caption1 {
  background-color: #f0a30a;
}
#caption2 {
  background-color: #d80073;
  color: white;
}
#caption3 {
  background-color: #fad9d5;
}
div:not(#test):not(.row):not(#colincol):not(#ignoree) {
  background-color: #d5e8d4;
  border: 3px solid black;
}
.row {
width: 100%;
}
#caption1,
#caption2,
#caption3 {
position: relative;
top:-3px;
right:-3px;
border: 3px solid black;
margin: 0;
margin-left: auto;
width: 120px;
height: 35px;
text-align: center;
line-height: 30px;
}
.content {
font-weight: 100;
text-align: left;
width: 90%;
font-size: 1.4em;
margin: 0.75em auto 1em;
}
/* Телефони */
@media screen and (max-width: 767px) {
  .col-vs-1, .col-vs-2, .col-vs-3, .col-vs-4, .col-vs-5, .col-vs-6, .col-vs-7, .col-vs-8, .col-vs-9, .col-vs-10, .col-vs-11, .col-vs-12 {
    float: left; 
    }
  .col-vs-1 {width: 8.33%;}
  .col-vs-2 {width: 16.66%;}
  .col-vs-3 {width: 25%;}
  .col-vs-4 {width: 33.33%;}
  .col-vs-5 {width: 41.66%;}
  .col-vs-6 {width: 50%;}
  .col-vs-7 {width: 58.33%;}
  .col-vs-8 {width: 66.66%;}
  .col-vs-9 {width: 75%;}
  .col-vs-10 {width: 83.33%;}
  .col-vs-11 {width: 91.66%;}
  .col-vs-12 {width: 100%;}
  .box {padding: 0 0 10px 0}
}
/*Планшети*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-s-1, .col-s-2, .col-s-3, .col-s-4, .col-s-5, .col-s-6, .col-s-7, .col-s-8, .col-s-9, .col-s-10, .col-s-11, .col-s-12 {
    float: left;  
    }
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .box1 {padding: 0 10px 0 10px}
  #ignoree {
    border: 3px solid white;
  }
}
/* Компи */
@media (min-width: 992px) {
  .col-l-1, .col-l-2, .col-l-3, .col-l-4, .col-5, .col-l-6, .col-l-7, .col-l-8, .col-l-9, .col-l-10, .col-l-11, .col-l-12 {
  float: left;  
  }
  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%; }
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}
}
